<p id="notice"><%= notice %></p>

<p>
  <strong>Workflow:</strong>
  <%= @workflow_package.workflow %>
</p>

<p>
  <strong>Name:</strong>
  <%= @workflow_package.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workflow_package.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @workflow_package.user %>
</p>

<%= link_to 'Edit', edit_workflow_package_path(@workflow_package) %> |
<%= link_to 'Back', workflow_packages_path %>
