<p id="notice"><%= notice %></p>

<h1>Content Blocks</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Content</th>
      <th>Knowledge article</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_blocks.each do |content_block| %>
      <tr>
        <td><%= content_block.role %></td>
        <td><%= content_block.content %></td>
        <td><%= content_block.knowledge_article %></td>
        <td><%= link_to 'Show', content_block %></td>
        <td><%= link_to 'Edit', edit_content_block_path(content_block) %></td>
        <td><%= link_to 'Destroy', content_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content Block', new_content_block_path %>
