<%= form_for(package_file_attachment) do |f| %>
  <% if package_file_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(package_file_attachment.errors.count, "error") %> prohibited this package_file_attachment from being saved:</h2>

      <ul>
      <% package_file_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workflow_step_package_id %>
    <%= f.text_field :workflow_step_package_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
