<p id="notice"><%= notice %></p>

<p>
  <strong>Workflow type:</strong>
  <%= @workflow.workflow_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @workflow.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workflow.description %>
</p>

<p>
  <strong>String:</strong>
  <%= @workflow.string %>
</p>

<%= link_to 'Edit', edit_workflow_path(@workflow) %> |
<%= link_to 'Back', workflows_path %>
